.dummyContainer>div {
	width: 100%;
	height: 100%;
	text-align: center;
}

.dummyButton {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.dummyRemoveAll {
	background-color: #f44336;
}

.dummyClose {
	background-color: #008CBA;
}

.dummyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr 1.3fr 1.3fr 1.6fr 1.1fr 1fr 0.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "dummyMisc dummyEars dummyEyes dummyHoods dummyChain"
    "dummyMisc dummyEars dummyNose dummyHoods dummyHoodAddon"
    "dummyMisc dummyGag1 dummyGag2 dummyGag3 dummyHoodAddon"
    "dummyArms1 dummyCollarMisc dummyCollar dummyLeash dummyArms2"
    "dummyArms1 dummyNipples dummyNipplesPierc dummyBreasts dummyArms2"
    "dummyArms1 dummyTorso dummyTorso dummyTorso dummyArms2"
    "dummyHands1 dummyPelvis dummyPelvis dummyPelvis dummyHands2"
    "dummyHands1 dummyVulva dummyClit dummyButt dummyHands2"
    "dummyDevices1 dummyLegs dummyLegs dummyLegs dummyDevices2"
    "dummyDevices1 dummyLegs dummyLegs dummyLegs dummyDevices2"
    "dummyDevices1 dummyFeet dummyFeet dummyFeet dummyDevices2"
    "dummyDevices1 dummyFeet dummyFeet dummyFeet dummyDevices2"
    "dummyDevices1 dummyBoots dummyBoots dummyBoots dummyDevices2"
    "dummyDevices1 dummyBoots dummyBoots dummyBoots dummyDevices2"
    "dummyRemoveAll dummyRemoveAll dummyRemoveAll dummyRemoveAll dummyRemoveAll"
    "dummyClose dummyClose dummyClose dummyClose dummyClose";
  width: 50.5%;
  height: 100%;
}

.dummyEars { grid-area: dummyEars; }

.dummyHoods { grid-area: dummyHoods; }

.dummyEyes { grid-area: dummyEyes; }

.dummyNose { grid-area: dummyNose; }

.dummyGag1 { grid-area: dummyGag1; }

.dummyGag2 { grid-area: dummyGag2; }

.dummyGag3 { grid-area: dummyGag3; }

.dummyChain { grid-area: dummyChain; }

.dummyCollarMisc { grid-area: dummyCollarMisc; }

.dummyCollar { grid-area: dummyCollar; }

.dummyLeash { grid-area: dummyLeash; }

.dummyNipples { grid-area: dummyNipples; }

.dummyNipplesPierc { grid-area: dummyNipplesPierc; }

.dummyBreasts { grid-area: dummyBreasts; }

.dummyTorso { grid-area: dummyTorso; }

.dummyPelvis { grid-area: dummyPelvis; }

.dummyVulva { grid-area: dummyVulva; }

.dummyClit { grid-area: dummyClit; }

.dummyButt { grid-area: dummyButt; }

.dummyLegs { grid-area: dummyLegs; }

.dummyFeet { grid-area: dummyFeet; }

.dummyBoots { grid-area: dummyBoots; }

.dummyDevices1 { grid-area: dummyDevices1; }

.dummyDevices2 { grid-area: dummyDevices2; }

.dummyHands1 { grid-area: dummyHands1; }

.dummyHands2 { grid-area: dummyHands2; }

.dummyArms1 { grid-area: dummyArms1; }

.dummyArms2 { grid-area: dummyArms2; }

.dummyHoodAddon { grid-area: dummyHoodAddon; }

.dummyMisc { grid-area: dummyMisc; }

.dummyRemoveAll { grid-area: dummyRemoveAll; }

.dummyClose { grid-area: dummyClose; }
